
.grid {
    
    height: 100px;
    width: 100px;
    row-gap: 1px;
    column-gap: 1px;
}

.square {
    display: grid;
    background-color: blue;
    width: 25%;
    height: 25%;
    grid-template-columns: repeat(1, 10px);
    grid-template-rows: repeat(1, 10px);

}

